@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app {
  @apply relative  flex justify-center items-center flex-col max-w-[1508px] mx-auto;
}

.animbtn {
  @apply button-animated hover:bg-[#10578f] transition-all ease-in-out  items-center  text-white rounded-full bg-primary-blue text-lg px-6 py-4;
}

.headtext {
  @apply text-3xl sm:text-[34px] xl:text-5xl leading-[1.25] font-semibold text-[#26292b];
}

.secondtext {
  @apply text-lg sm:text-xl leading-[1.6];
}
.othertext {
  @apply text-lg leading-[1.6] font-medium;
}

.infotext {
  @apply text-[#cbd0d6] font-light;
}
.button-animated {
  display: flex;
  cursor: pointer;
}

.button-animated:hover {
  /* -webkit-animation: wiggle 0.6s; */
  animation: wiggle 0.6s;
}

.shadow {
  box-shadow: 0 1px 1px rgba(13, 36, 55, 0.12),
    0 10px 80px rgba(21, 37, 53, 0.15);
}
.popup {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.2s ease-in-out, z-index 1s;
}
@-webkit-keyframes wiggle {
  25% {
    transform: scale(0.95, 1.06);
  }

  50% {
    transform: scale(1.05, 0.98);
  }

  75% {
    transform: scale(0.96, 1.06);
  }
}

@keyframes wiggle {
  25% {
    transform: scale(0.95, 1.06);
  }

  50% {
    transform: scale(1.05, 0.98);
  }

  75% {
    transform: scale(0.96, 1.06);
  }
}
